<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!--<appSettings> -->
    <!-- Key Provedor AQUI-->

    <!-- Key Conexion AQUI-->
  <!--</appSettings>-->
	<appSettings>
		<add key="Provedor" value="System.Data.SqlClient" />
		<add key="Conexion" value="Data Source=LTELMXLVILLEGAS\SQL2017;Initial Catalog=Piloto1_2022;User ID=sa;Password=telepro" />
	</appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.7.2" />
      <httpRuntime targetFramework="4.7.2" />
    </system.web>

</configuration>
